        {% load static %}
        <div class="footer-area">

            <div class=" footer">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Hakkımızda</h4>
                                <div class="footer-title-line"></div>

                                <img src={% static "assets1/img/unistay.png" %} alt="" class="wow pulse" data-wow-delay="1s">
                                <p>UniStay | Bir konum odaklı emlak uygulama projesidir.</p>
                                <ul class="footer-adress">
                                    <li><i class="pe-7s-map-marker strong"> </i> Konya Necmettin Erbakan Üniversitesi</li>
                                    <li><i class="pe-7s-mail strong"> </i> email@yourcompany.com</li>
                                    <li><i class="pe-7s-call strong"> </i> +90 908 967 5906</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>Linkler </h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-menu">
                                    <strong>UNİSTAY</strong>
                                </ul>
                            </div>
                        </div>
                   
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer news-letter">
                                <h4>İletişim</h4>
                                <div class="footer-title-line"></div>
                                <p><strong>UniStay</strong><br>
                                    Konya Necmettin Erbakan Üniversitesi<br>
                                    Konya ,Türkiye</p>


                                <div class="social pull-right"> 
                                    <ul>
                                        
                                        <li><a class="wow fadeInUp animated" href="https://www.facebook.com/profile.php?id=100009398236932" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://plus.google.com/+MuhammedG%C3%B6kkaya" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://instagram.com/gokkayamuhammed" data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                        <li><a class="wow fadeInUp animated" href="https://github.com/MuhammedGokkaya" data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <span> (C) <a href="#">UniStay</a> ,Muhammed GÖKKAYA 2018  </span> 
                        </div> 
                        <div class="bottom-menu pull-right"> 
                            <ul> 
                                <li><a class="wow fadeInUp animated" href="/" data-wow-delay="0.2s">Anasayfa</a></li>
                                <li><a class="wow fadeInUp animated" href="/tum_ilanlar" data-wow-delay="0.3s">Tüm İlanlar</a></li>
                                
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
