<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UniStay | İlan Detayı</title>
        <meta name="description" content="company is a real-estate template">
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href={% static "assets/css/normalize.css" %}>
        <link rel="stylesheet" href={% static "assets/css/font-awesome.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/fontello.css" %}>
        <link href={% static "assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" %} rel="stylesheet">
        <link href={% static "assets/fonts/icon-7-stroke/css/helper.css" %} rel="stylesheet">
        <link href={% static "assets/css/animate.css" %} rel="stylesheet" media="screen">
        <link rel="stylesheet" href={% static "assets/css/bootstrap-select.min.css" %}> 
        <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/icheck.min_all.css" %}>
        <link rel="stylesheet" href={% static "assets/css/price-range.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.carousel.css" %}>  
        <link rel="stylesheet" href={% static "assets/css/owl.theme.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.transitions.css" %}>
        <link rel="stylesheet" href={% static "assets/css/lightslider.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/style.css" %}>
        <link rel="stylesheet" href={% static "assets/css/responsive.css" %}>
        <style>

      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
</style>
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        {% block header %}
                {% include "g_header.html" %}
        {% endblock %}
        <!-- End of nav bar -->

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">{{em_bil.ilan_baslik}}</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area single-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">   

                <div class="clearfix padding-top-40" >

                    <div class="col-md-8 single-property-content prp-style-1 ">
                        <div class="row">
                            <div class="light-slide-item">            
                                <div class="clearfix">
                                    <div class="favorite-and-print">
                                        <a class="add-to-fav" href="#login-modal" data-toggle="modal">
                                            <i class="fa fa-star-o"></i>
                                        </a>
                                        <a class="printer-icon " href="javascript:window.print()">
                                            <i class="fa fa-print"></i> 
                                        </a>
                                    </div> 

                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                    {%for res in dokuman%}
                                        <li data-thumb="{{res.image_url.url}}"> 
                                            <img src="{{res.image_url.url}}" />
                                        </li>
                                    {% endfor %}                                     
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="single-property-wrapper">
                            <div class="single-property-header">                                          
                                <h1 class="property-title pull-left">{{em_bil.ilan_baslik}}</h1><br><br><figure>{{em_bil.adres1}} |{{em_bil.sehir}}, {{em_bil.ilce}}</figure>
                                <span class="property-price pull-right">{{em_bil.aylik_ucret}} tl</span>
                            </div>

                            <div class="property-meta entry-meta clearfix ">   

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-tag">                                        
                                        <img src={% static "assets/img/icon/sale-orange.png" %}>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Statü:</span>
                                        <span class="property-info-value">Kiralık/Ev arkadaşı</span>
                                    </span>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info icon-area">
                                        <img src={% static "assets/img/icon/room-orange.png" %}>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Alan</span>
                                        <span class="property-info-value">{{em_bil.genislik}}<b class="property-info-unit">m2</b></span>
                                    </span>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bed">
                                        <img src={% static "assets/img/icon/bed-orange.png" %}>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Yatak sayısı</span>
                                        <span class="property-info-value">{{em_bil.yatak_sayisi}}</span>
                                    </span>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bed">
                                        <img src={% static "assets/img/icon/bed-orange.png" %}>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Yatak oda sayısı</span>
                                        <span class="property-info-value">{{em_bil.yatak_oda_sayi}}</span>
                                    </span>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bath">
                                        <img src={% static "assets/img/icon/os-orange.png" %}>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Oda Sayısı</span>
                                        <span class="property-info-value">{{em_bil.oda_sayisi}}</span>
                                    </span>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-garage">
                                        <img src={% static "assets/img/icon/room-orange.png" %}>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Salon Sayısı</span>
                                        <span class="property-info-value">{{em_bil.salon_sayisi}}</span>
                                    </span>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-garage">
                                        <img src={% static "assets/img/icon/room-orange.png" %}>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Mutfak Sayısı</span>
                                        <span class="property-info-value">{{em_bil.mutfak_sayisi}}</span>
                                    </span>
                                </div>
                                
                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-garage">
                                        <img src={% static "assets/img/icon/shawer-orange.png" %}>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Banyo sayısı</span>
                                        <span class="property-info-value">{{em_bil.banyo_sayisi}}</span>
                                    </span>
                                </div>


                            </div>
                            <!-- .property-meta -->

                            <div class="section">
                                <h4 class="s-property-title">İlan Metni</h4>
                                <div class="s-property-content">
                                    <p>{{em_bil.ilan_detayii}}</p>
                                </div>
                            </div>
                            <!-- End description area  -->

                            <div class="section additional-details">

                                <h4 class="s-property-title">Detaylar</h4>

                                <ul class="additional-details-list clearfix">
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Adres1</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{em_bil.adres1}}</span>
                                    </li> 
                                    <li>
                                        {% for i in konut_tipi %}
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Konut TİPİ</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{i}}</span>
                                        {% endfor %}
                                    </li>

                                    <li>
                                        {% for i in oda_tipi %}
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Oda TİPİ</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{i}}</span>
                                        {% endfor %}
                                    </li>
                                    <li>
                                        {% for i in banyo_tipi %}
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Banyo TİPİ</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{i}}</span>
                                        {% endfor %}
                                    </li>

                                    <li>
                                        {% for i in cinsiyet %}
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Kiracı CİNSİYETİ</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{i}}</span>
                                        {% endfor %}
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Depoito ÜCRETİ</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{em_bil.depozito}}</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">ŞEHİR</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{em_bil.sehir}}</span>
                                    </li> 
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">İLÇE</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{em_bil.ilce}}</span>
                                    </li> 

                                </ul>
                            </div>  
                            <!-- End additional-details area  -->

                            <div class="section property-features">      

                                <h4 class="s-property-title">Ev Kolaylıkları</h4>                            
                                <ul>
                                    {% for i in ev_kolayliklari %}
                                    <li>{{i}}</li>   
                                    {% endfor %}
                                </ul>
                                <h4 class="s-property-title">Mülk Kuralları</h4>                            
                                <ul>
                                    {% for i in mulk_kurallari %}
                                    <li>{{i}}</li>   
                                    {% endfor %}
                                </ul>

                            </div>
                            <!-- End features area  -->

                                <h4 class="s-property-title">Haritada Görünümü</h4> 
                                
                                <div id="map" style="width:100% ; height: 400px;"></div>
                                
                            <!-- End video area  -->
                            
                            

                            <div class="section property-share"> 
                                <h4 class="s-property-title">-</h4> 
                                <div class="roperty-social">
                                    <ul> 
                                                                                
                                    </ul>
                                </div>
                            </div>
                            <!-- End video area  -->
                            
                        </div>
                    </div>


                    <div class="col-md-4 p0">
                        <aside class="sidebar sidebar-property blog-asside-right">
                            <div class="dealer-widget">
                                <div class="dealer-content">
                                    <div class="inner-wrapper">

                                        <div class="clear">
                                            <div class="col-xs-4 col-sm-4 dealer-face">
                                                <a href="/profilim/{{profil.user.id}}/">
                                                    <img src="{{profil.image_url.url}}" class="img-circle">
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 ">
                                                <h3 class="dealer-name">
                                                    <a href="">{{profil.user.first_name}} {{profil.user.last_name}}</a>
                                                    <span>{{profil.user.username}}</span>        
                                                </h3>


                                            </div>
                                        </div>

                                        <div class="clear">
                                            <ul class="dealer-contacts">                                       
                                                <li><i class="fa fa-star"> </i> {% for r in ranked %}
                            
                                                                <span class="fa fa-star checked"></span>
                                                                {% endfor %} 10/{{puan}} puan
                                                                </li>
                                                <li><i class="pe-7s-mail strong"> </i> {{profil.user.email}}</li>
                                                <li><i class="pe-7s-call strong"> </i> {{profil.telefon}}</li>
                                            </ul>
                                            <p>{{profil.biyografi}}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default sidebar-menu similar-property-wdg wow fadeInRight animated">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Önerilen 10 İlan</h3>
                                </div>
                                <div class="panel-body recent-property-widget">
                                        <ul>
                                        {% for i in galeri %}
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                                <a href="/detay/{{i.e_bilgileri.id}}"><img src="{{i.kapak_image.url}}"></a>
                                                <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> 
                                                <a href="/detay/{{i.e_bilgileri.id}}">{{i.e_bilgileri.ilan_baslik}}</a></h6>
                                                <span class="property-price">{{i.e_bilgileri.aylik_ucret}}</span>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        

                                    </ul>
                                </div>
                                <div class="panel-heading">
                                <br>
                                    <h3 class="panel-title">Yeni Acentelerimiz!</h3>
                                </div>
                                <div class="panel-body recent-property-widget">
                                        <ul>
                                        {% for i in uye %}
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                                <a href="/profilim/{{i.user.id}}"><img src="{{i.image_url.url}}"></a>
                                                <span class="property-seeker">
                                                    <b class="b-1">U</b>
                                                    <b class="b-2">Y</b>
                                                    <b class="b-1">E</b>
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> 
                                                <a href="/detay/{{em_bil.id}}">{{i.user.first_name}} {{i.user.last_name}}</a></h6>
                                                <span class="property-price">{{i.user.username}}</span>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        

                                    </ul>
                                </div>
                            </div>                          



                        </aside>
                    </div>
                </div>

            </div>
        </div>


          <!-- Footer area-->
        {% block footer %}
                {% include "g_footer.html" %}
        {% endblock %}
          
        
        
        <script src={% static "assets/js/vendor/modernizr-2.6.2.min.js" %}></script>
        <script src={% static "assets/js/jquery-1.10.2.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-select.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-hover-dropdown.js" %}></script>
        <script src={% static "assets/js/easypiechart.min.js" %}></script>
        <script src={% static "assets/js/jquery.easypiechart.min.js" %}></script>
        <script src={% static "assets/js/owl.carousel.min.js" %}></script>
        <script src={% static "assets/js/wow.js" %}></script>
        <script src={% static "assets/js/icheck.min.js" %}></script>
        <script src={% static "assets/js/price-range.js" %}></script>
        <script type="text/javascript" src={% static "assets/js/lightslider.min.js" %}></script>
        <script src={% static "assets/js/main.js" %}></script>
        <script>
              function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: {lat: 39.91987, lng: 32.85427 }
                });
                var geocoder = new google.maps.Geocoder();
            geocodeAddress(geocoder, map);
                
              }

              function geocodeAddress(geocoder, resultsMap) {
                var address = "{{em_bil.adres1}}";
                geocoder.geocode({'address': address}, function(results, status) {
                  if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                      map: resultsMap,
                      position: results[0].geometry.location
                    });
                  } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                  }
                });
              }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbsdja2le9sr6-QGn5Q7Xd4_L60JLQcb8&callback=initMap">
    </script>
        <script>
            $(document).ready(function () {

                $('#image-gallery').lightSlider({
                    gallery: true,
                    item: 1,
                    thumbItem: 9,
                    slideMargin: 0,
                    speed: 500,
                    auto: true,
                    loop: true,
                    onSliderLoad: function () {
                        $('#image-gallery').removeClass('cS-hidden');
                    }
                });
            });
        </script>

    </body>
</html>