<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UniStay|Tüm İlanlar </title>
        <meta name="description" content="GARO is a real-estate template">
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href={% static "assets/css/normalize.css" %}>
        <link rel="stylesheet" href={% static "assets/css/font-awesome.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/fontello.css" %}>
        <link href={% static "assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" %} rel="stylesheet">
        <link href={% static "assets/fonts/icon-7-stroke/css/helper.css" %} rel="stylesheet">
        <link href={% static "assets/css/animate.css" %} rel="stylesheet" media="screen">
        <link rel="stylesheet" href={% static "assets/css/bootstrap-select.min.css" %}> 
        <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/icheck.min_all.css" %}>
        <link rel="stylesheet" href={% static "assets/css/price-range.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.carousel.css" %}>  
        <link rel="stylesheet" href={% static "assets/css/owl.theme.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.transitions.css" %}>
        <link rel="stylesheet" href={% static "assets/css/style.css" %}>
        <link rel="stylesheet" href={% static "assets/css/responsive.css" %}>
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        {% block header %}
                {% include "g_header.html" %}
        {% endblock %}
        <!-- End of nav bar -->

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Tüm İlanlar</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="properties-area recent-property" style="background-color: #FFF;">
            <div class="container">   
                <div class="row">
                    <div class="col-md-12 padding-top-40 properties-page">
                        <div class="section clear"> 
                        

                            <div class="col-xs-2 layout-switcher">
                                <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                                <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>                          
                            </div><!--/ .layout-switcher-->
                        </div>

                        <div class="section clear"> 
                            <div id="list-type" class="proerty-th">
                                {% for ilan in em_bil %}
                                <div class="col-sm-6 col-md-4 p0">
                                    <div class="box-two proerty-item">
                                    {% for dok in galeri %}
                                        {% if dok.e_bilgileri_id == ilan.id %}
                                        <div class="item-thumb">
                                            <a href="/detay/{{ilan.id}}/" ><img src="{{dok.kapak_image.url}}"></a>
                                        </div>
                                        {% endif %}

                                    {% endfor %}
                                        <div class="item-entry overflow">
                                            <h5><a href="/detay/{{ilan.id}}/">{{ilan.ilan_baslik}}</a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Alan :</b> {{ilan.genislik}} </span>
                                            <span class="proerty-price pull-right"> tl {{ilan.aylik_ucret}}</span>
                                            <p style="display: none;">{{ilan.adres1}}</p>
                                            <div class="property-icon">
                                                <img src={% static "assets/img/icon/bed.png" %}>({{ilan.yatak_sayisi}})|
                                                <img src={% static "assets/img/icon/shawer.png" %}>({{ilan.banyo_sayisi}})|  
                                            </div>
                                        </div>


                                    </div>
                                </div> 
                                {% endfor %}
                                
                            </div>
                        </div>
                        <div class="section">
                            <div class="pull-right">
                                <div class="pagination">
                                    {% if em_bil.has_other_pages %}
                                        <ul>
                                          {% if em_bil.has_previous %}
                                            <li><a href="?page={{ em_bil.previous_page_number }}">&laquo;</a></li>
                                          {% else %}
                                            <li class="disabled"><span>&laquo;</span></li>
                                          {% endif %}
                                          {% for i in em_bil.paginator.page_range %}
                                            {% if em_bil.number == i %}
                                              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                            {% else %}
                                              <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                          {% endfor %}
                                          {% if em_bil.has_next %}
                                            <li><a href="?page={{ em_bil.next_page_number }}">&raquo;</a></li>
                                          {% else %}
                                            <li class="disabled"><span>&raquo;</span></li>
                                          {% endif %}
                                        </ul>
                                      {% endif %}
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                </div>           
            </div>
        </div>


          <!-- Footer area-->
        {% block footer %}
                {% include "g_footer.html" %}
        {% endblock %}

        <script src={% static "assets/js/modernizr-2.6.2.min.js" %}></script>
        <script src={% static "assets/js/jquery-1.10.2.min.js" %}></script>
        <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-select.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-hover-dropdown.js" %}></script>
        <script src={% static "assets/js/easypiechart.min.js" %}></script>
        <script src={% static "assets/js/jquery.easypiechart.min.js" %}></script>
        <script src={% static "assets/js/owl.carousel.min.js" %}></script>
        <script src={% static "assets/js/wow.js" %}></script>
        <script src={% static "assets/js/icheck.min.js" %}></script>
        <script src={% static "assets/js/price-range.js" %}></script>
        <script src={% static "assets/js/main.js" %}></script>
    </body>
</html>