<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UniStay | Giriş</title>
        <meta name="description" content="GARO is a real-estate template">
        <meta name="author" content="Kimarotec">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href={% static "assets/css/normalize.css" %}>
        <link rel="stylesheet" href={% static "assets/css/font-awesome.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/fontello.css" %}>
        <link href={% static "assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css"  %} rel="stylesheet">
        <link href={% static "assets/fonts/icon-7-stroke/css/helper.css" %} rel="stylesheet">
        <link href={% static "assets/css/animate.css" %} rel="stylesheet" media="screen">
        <link rel="stylesheet" href={% static "assets/css/bootstrap-select.min.css" %}> 
        <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
        <link rel="stylesheet" href={% static "assets/css/icheck.min_all.css" %}>
        <link rel="stylesheet" href={% static "assets/css/price-range.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.carousel.css" %}>  
        <link rel="stylesheet" href={% static "assets/css/owl.theme.css" %}>
        <link rel="stylesheet" href={% static "assets/css/owl.transitions.css" %}>
        <link rel="stylesheet" href={% static "assets/css/style.css" %}>
        <link rel="stylesheet" href={% static "assets/css/responsive.css" %}>
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->
        {% block header %}
                {% include "g_header.html" %}
        {% endblock %}
       

        <!-- End of nav bar -->

        <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Yeni Kayıt Oluştur </h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->
 

        <!-- register-area -->
        <div class="register-area" style="background-color: rgb(249, 249, 249);">
            <div class="container">

                <div class="col-md-6">
                    <div class="box-for overflow">
                        <div class="col-md-12 col-xs-12 register-blocks">
                            <h2>Yeni Hesap Ouştur </h2><br>
                            <label class="orange">{{mesaj}}</label> 
                            <form  method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                             <div class="form-group">
                                 {{form.as_p}}
                             </div>   
                                
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box-for overflow">                         
                        <div class="col-md-12 col-xs-12 login-blocks">
                            <h2>Hobilerin ve Kişisel bilgilerin </h2> 
                            <div class="form-group">
                                {{p_form.as_p}}
                            </div>                            
                            <br>
                            <input type='submit' class='btn btn-finish btn-primary ' name='finish' value='Oluştur' />
                            </form>
                             
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>      

          <!-- Footer area-->

        {% block footer %}
                {% include "g_footer.html" %}
        {% endblock %}

         <script src={% static "assets/js/modernizr-2.6.2.min.js" %}></script>

        <script src={% static "assets/js/jquery-1.10.2.min.js" %}></script> 
        <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-select.min.js" %}></script>
        <script src={% static "assets/js/bootstrap-hover-dropdown.js" %}></script>

        <script src={% static "assets/js/easypiechart.min.js" %}></script>
        <script src={% static "assets/js/jquery.easypiechart.min.js" %}></script>

        <script src={% static "assets/js/owl.carousel.min.js" %}></script>
        <script src={% static "assets/js/wow.js" %}></script>

        <script src={% static "assets/js/icheck.min.js" %}></script>
        <script src={% static "assets/js/price-range.js" %}></script>

        <script src={% static "assets/js/main.js" %}></script>

    </body>
</html>