<!DOCTYPE html>
{% load static %}

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href={% static "assets/fonts/font-awesome.css" %} rel="stylesheet" type="text/css">
    <link rel="stylesheet" href={% static "assets/bootstrap/css/bootstrap.css" %} type="text/css">
    <link rel="stylesheet" href={% static "assets/css/bootstrap-select.min.css" %} type="text/css">
    <link rel="stylesheet" href={% static "assets/css/magnific-popup.css" %} type="text/css">
    <link rel="stylesheet" href={% static "assets/css/jquery.slider.min.css" %} type="text/css">
    <link rel="stylesheet" href={% static "assets/css/owl.carousel.css" %} type="text/css">
    <link rel="stylesheet" href={% static "assets/css/style.css" %} type="text/css">

    <title>UniStay | Sign In</title>

</head>

<body class="page-sub-page page-sign-in page-account" id="page-top">
<!-- Wrapper -->
<div class="wrapper">
    <!-- Navigation -->
    <div class="navigation">
        <div class="secondary-navigation">
            <div class="container">
                <div class="contact">
       
                </div>
                <div class="user-area">
                    <div class="actions">
                        <a href="/register" class="promoted"><strong>Kaydol</strong></a>
                       
                    </div>
                
                </div>
            </div>
        </div>
        <div class="container">
            <header class="navbar" id="top" role="banner">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand nav" id="brand">
                        <a href="/"><img src={% static "assets/img/unistay.png" %} alt="brand"></a>
                    </div>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                    <ul class="nav navbar-nav">
                        
                    </ul>
                </nav><!-- /.navbar collapse-->
               
            </header><!-- /.navbar -->
        </div><!-- /.container -->
    </div><!-- /.navigation -->
    <!-- end Navigation -->
    <!-- Page Content -->
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Anasayfa</a></li>
                <li class="active">Giriş</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <header><h1>Sign In</h1></header>
             <form action="/auth/" method="POST">{% csrf_token %}
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div style="color: red">
                             <label>{{hata_mesaji}}</label>    
                        </div>
                        <div class="form-group">
                            <label for="form-create-account-email">Username:</label>
                            <input type="text" name="username" class="form-control" id="form-create-account-email" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="form-create-account-password">Parola:</label>
                            <input type="password" name="password" class="form-control" id="form-create-account-password" required>
                        </div><!-- /.form-group -->
                        <div class="form-group clearfix">
                            <button type="submit" class="btn pull-right btn-default" id="account-submit">Giriş Yap</button>
                        </div><!-- /.form-group -->
                    <hr>
                    <div class="center"><a href="#">Şifremi hatırlamıyorum</a></div>
                </div>
            </div><!-- /.row -->
            </form>

        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
    <!-- Page Footer -->
    <footer id="page-footer">
        <div class="inner">
            <section id="footer-copyright">
               
            </section>
        </div><!-- /.inner -->
    </footer>
    <!-- end Page Footer -->
</div>

<script type="text/javascript" src={% static "assets/js/jquery-2.1.0.min.js" %}></script>
<script type="text/javascript" src={% static "assets/js/jquery-migrate-1.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "assets/bootstrap/js/bootstrap.min.js" %}></script>
<script type="text/javascript" src={% static "assets/js/smoothscroll.js" %}></script>
<script type="text/javascript" src={% static "assets/js/bootstrap-select.min.js" %}></script>
<script type="text/javascript" src={% static "assets/js/jquery.validate.min.js" %}></script>
<script type="text/javascript" src={% static "assets/js/icheck.min.js" %}></script>
<script type="text/javascript" src={% static "assets/js/retina-1.1.0.min.js" %}></script>
<script type="text/javascript" src={% static "assets/js/custom.js" %}></script>
<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->


</body>
</html>